p {
  font-family: Arial;
}

.A7 {
  width: 200px;
  border-radius: 12px;
}

.B7 {
  width: 198px;
  height: 198px;
  object-fit: cover;
  object-position: center;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
}

.C7 {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: left;
  border-radius: 100px;
}

.D7 {
  width: 200px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-width: 1px;
}

.E7 {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
  padding: 10px 15px;
  border-radius: 100px;
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.one-F7 {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 0;
}

.two-F7 {
  padding: 5px 3px;
  width: 340px;
}

.button1 {
  width: 350px;
  padding: 15px 0;
  border-width: 0;
  border-radius: 100px;
  background-color: #0c78bb;
  color: #FFFFFF;
}

.pprofile {
  width: 40px;
  height: 40px;
}

.tweets {
  vertical-align: 15px;
  width: 250px;
  padding: 10px 10px;
  font-size: 15px;
  border: 0;
}

.send-tweet {
  vertical-align: 15px;
  padding: 10px 15px;
  border: 0;
  background-color: #37a0e7;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 100px;
}