.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 200px;
    background-color: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
        }

h2 {
    font-family: Arial, sans-serif;
	}

label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    }